body {
    background-color: black;
    color: white;
}

@font-face {
    font-family: n45;
    src: url(fonts/N45.otf);
}

.homeheader {
    position:fixed;
    left:0;
    top:0;
    width:5%;
    background-color: black;
    color: white;
    text-align: center;
    font-family: n45;
    padding: 1%;
}

.footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: black;
    color: white;
    text-align: center;
}

.caption {
    font-family: n45;
    font-size: 20px;
    text-align: center;
}

#ritualcaption {
    content: url("pics/ritualcaption.png");
    width: 50%;
    height:auto;
    margin: auto;
}

#ritual0 {
    content: url("pics/ritual0.png");
    width: 50%;
    height:auto;
    margin: auto;
}

#ritual1 {
    content: url("pics/ritual1.png");
    width: 50%;
    height:auto;
    margin: auto;
}

#ritual2 {
    content: url("pics/ritual2.png");
    width: 50%;
    height:auto;
    margin: auto;
}

#ritual3 {
    content: url("pics/ritual3.png");
    width: 50%;
    height:auto;
    margin: auto;
}

#ritual4 {
    content: url("pics/ritual4.png");
    width: 50%;
    height:auto;
    margin: auto;
}

#ritual5 {
    content: url("pics/ritual5.png");
    width: 50%;
    height:auto;
    margin: auto;
}

#contact {
    content: url("pics/contact.png");
    width: 50%;
    height:auto;
    margin: auto;
}

#links {
    text-align: center;
}

#intro {
    content: url("pics/intro.png");
    width: 50%;
    height:auto;
    margin:auto;
}

#sonic {
    content: url("pics/sonic.png");
    width: 50%;
    height:auto;
    margin:auto;
}

#demo {
    content: url("pics/demo.png");
    width: 50%;
    height:auto;
    margin:auto;
}