/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@300;400;500;600;700&family=VT323&display=swap');

* {
    font-family: 'Martian Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    padding-bottom: 10%;
}

a {
    text-decoration: none;
    color: white;
}

p {
    font-weight: 300;
}


/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: black;
}

.header-active {
    background: rgba(0, 0, 0, 0.6);
    transition: 0.4s all linear;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

/* Logo/name */
.logo {
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 20px;
    color: white;
}

/* Homepage header icons */
.navbar {
    list-style-type: none;
    /*removes bullets*/
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    height: 100px;
}

.header-icon {
    width: 80px;
    border-radius: 50%;
    border: 1px solid white;
    transition: 0.4s;
}

.header-icon:hover {
    scale: 1.2;
}

/* Side menu */
.menu-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 20px;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}

.menu-icon div {
    display: block;
    background: white;
    height: 2px;
    width: 24px;
    transition: 0.3s;
}

.move .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.move .line2 {
    opacity: 0;
}

.move .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}

.side-menu {
    position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: rgba(15, 15, 15, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    transition: 0.5s all linear;
    row-gap: 5rem;
    list-style-type: none;
}

.menu-link {
    font-size: 1.2rem;
    padding: 4px 8px;
    border-radius: 0.2rem;
    color: white;
}

.open-menu {
    right: 0;
    transition: 0.2s all ease;
}

/* Footer */
.footer {
    /*this is a neat way to center things (first three lines), instead of margin, padding, etc.*/
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1%;
    padding-bottom: 2%;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 100;
}

.footer-links a {
    font-size: 2rem;
    font-weight: 400;
    color: white;
}

/* General container */
.container {
    max-width: 80%;
    /*percentage or fixed px width? Will the percentage look weird in larger screens?*/
    margin: auto;
    padding-top: 12%;
    padding-bottom: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Portfolio */
.portfolio-title {
    font-size: 50px;
}

.portfolio-content {
    display: grid;
    grid-template-columns: 1fr max-content 0fr;
    gap: 4rem;
    transition: 1s all ease;
}

.portfolio-content-open {
    grid-template-columns: 1fr max-content 1fr;
    transition: 1s all ease;
}

.description-arrow {
    font-size: 4rem;
    opacity: 0.5;
    width: 20px;
    margin: 0 0 auto auto;
    cursor: pointer;
    transition: 0.2s all ease;
}

.description-arrow:hover {
    opacity: 1;
    transition: 0.7s all ease;
}

.description-arrow-open {
    transform: scaleX(-1) translateX(-100%);
    transition: 0.5s all ease;
}

.portfolio-description {
    height: 300px;
    overflow: hidden;
    font-size: 0.85rem;
    margin: 0 auto auto 0;
    width: 0;
    opacity: 0;
}

.portfolio-description-show {
    overflow: visible;
    width: 300px;
    opacity: 1;
    transition-property: width, opacity;
    transition-duration: 0.5s, 1s;
    transition-delay: 0s, 0.5s;
}


/* About */
.about-title {
    font-size: 50px;
}

.about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.about-img {
    width: 40%;
    border-radius: 50%;
    text-align: center;
}

.about-text {
    line-height: 1.5rem;
}

.about-text-main {
    font-weight: 700;
}

.about-text-sub {
    font-size: 0.9rem;
    font-weight: 300;
    margin-left: 3rem;
}


/* PROBABLY DELETE, NOT NEEDED ANYMORE */


/* Projects */
.projects-heading {
    font-size: 50px;
    text-align: center;
}

.projects-thumbnail {
    text-align: center;
    padding: 5%;
    margin: 5%;
    transition: 0.3s all linear;
}

.projects-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projects-img {
    width: 55%;
    margin: 5px;
}

.projects-thumbnail:hover {
    scale: 1.1;
}

/* Project */
.project-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}

.project-text {
    font-size: 1rem;
}

.project-heading {
    font-size: 50px;
}

.project-img {
    width: 100%;
}


/* UNTIL HERE */


/* Contact form*/
.contact-heading {
    font-size: 50px;
}

.contact-form {
    max-width: 600px;
    margin: auto;
    width: 100%;
    display: grid;
    row-gap: 1rem;
}

.contact-form input,
.contact-form textarea {
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 15px;
    color: black;
    background: white;
    border-radius: 0.4rem;
}

.contact-form .send-btn {
    width: 120px;
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px;
    background: white;
    cursor: pointer;
    transition: 0.3s all ease;
}

.contact-form .send-btn:hover {
    background: grey;
    transition: 0.3s all ease;
}

#empty-error {
    visibility: hidden;
    transition: 0.5s all linear;
}

#contact-success {
    visibility: hidden;
    transition: 0.5s all linear;
}

/* Play buttons */
.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 10rem;
    color: white;
    opacity: 20%;
    transition: 0.9s all ease;
}

.play-btn:hover {
    opacity: 70%;
    /* text-shadow: 0 0 10px rgba(200,200,200,0.7); */
    transition: 0.6s all ease;
}