body {
    background-color:black;
    margin: 0;
    overflow: hidden;
}

#pequenasPartes {
    content: url("pics/pequenasPartes.png");
    position: absolute;
    top: 5%;
    left: 40%;
    width: 35%;
    height: auto;
}

#boxesOff {
    background-image: url("pics/allOff.png");
    background-size: cover;
    width: 100%;
    height: 100%;
}

#moreblueBox {
    background-color: none;
    position: absolute;
    top: 72%;
    left: 1%;
    width: 17%;
    height: 20%;
}

#moreblueBox:hover ~ #boxesOff {
    background-image: url("pics/moreblueOn.png");
}

#yellowBox {
    background-color: none;
    position: absolute;
    top: 50%;
    left: 18%;
    width: 13%;
    height: 17%;
}

#yellowBox:hover ~ #boxesOff {
    background-image: url("pics/yellowOn.png");
}

#blueBox {
    background-color: none;
    position: absolute;
    top: 70%;
    left: 31%;
    width: 15%;
    height: 20%;
}

#blueBox:hover ~ #boxesOff {
    background-image: url("pics/blueOn.png");
}

#redBox {
    background-color: none;
    position: absolute;
    top: 71%;
    left: 54%;
    width: 12%;
    height: 15%;
}

#redBox:hover ~ #boxesOff {
    background-image: url("pics/redOn.png");
}

#greenBox {
    background-color: none;
    position: absolute;
    top: 63%;
    left: 77%;
    width: 15%;
    height: 20%;
    rotate: -27deg;
}

#greenBox:hover ~ #boxesOff {
    background-image: url("pics/greenOn.png");
}

#ritualcaption {
    content: url("");
}

#ritual0 {
    content: url("pics/ritual0.png");
    width: 30%;
    height:auto;
}

#ritual1 {
    content: url("pics/ritual1.png");
    width: 30%;
    height:auto;
}

#ritual2 {
    content: url("pics/ritual2.png");
    width: 30%;
    height:auto;
}

#ritual3 {
    content: url("pics/ritual3.png");
    width: 30%;
    height:auto;
}

#ritual4 {
    content: url("pics/ritual4.png");
    width: 30%;
    height:auto;
}

#ritual5 {
    content: url("pics/ritual5.png");
    width: 30%;
    height:auto;
}